[Unit]
Description=clpc-web
After=network.target
Wants=network.target

[Service]
Type=simple
User=nginx
Group=nginx
PIDFile=/run/clpc-web.pid
WorkingDirectory=/var/www/clpc
ExecStart=/var/www/clpc/clpc-web
Restart=always
RestartSec=1
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
