[Unit]
Description=clpcd
After=network.target
Wants=network.target

[Service]
Type=simple
User=nginx
Group=nginx
PIDFile=/run/clpcd.pid
WorkingDirectory=/var/www/clpc
ExecStart=/var/www/clpc/clpcd
Restart=always
RestartSec=1
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
